# --------------------
# Git
# --------------------
.git
.gitignore

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Python
# --------------------
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache

# Virtual environments
**/venv
**/.venv

# --------------------
# Node / React
# --------------------
**/node_modules
**/dist
**/build
**/.vite

# --------------------
# Environment files
# --------------------
**/.env
**/.env.local
**/.env.production

# --------------------
# Logs
# --------------------
**/*.log

# --------------------
# Editor junk
# --------------------
**/.vscode
**/.idea

# --------------------
# Docker
# --------------------
**/Dockerfile.prod

# --------------------
# Databases / runtime files
# --------------------
**/*.sqlite
**/*.db

# --------------------
# Tests & coverage
# --------------------
**/coverage
