@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'typeface-open-sans';

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navbar.css */
/* Add or modify the following styles to position the navbar and logo */

/* Navbar container */
.texas-a-m-branded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo container (left corner) */
.logo-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center content */
  
}

/* Logo */
.maroon-logo {
  max-width: 250px; /* Adjust the maximum width of your logo */
  height: auto; /* Maintain aspect ratio */
}

.nav-buttons {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add margin to push the buttons to the right corner */
}

/* Navbar button styles */
.nav-button {
  color: #030303; /* Text color */
  text-decoration: none;
  margin: 30px; /* Adjust the spacing between buttons */
  font-weight: normal; /* Adjust the font weight */
  font-size: 25px;
}

/* Navbar button hover effect */
.nav-button:hover {
  color: #4D0000; /* Change text color on hover */
}

/* App.css */
@font-face {
  font-family: 'TungstenMedium';
  src: url('./fonts/Tungsten-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.open-sans-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; 
  /* Other button styles go here */
}

body {
  font-family: 'TungstenMedium', sans-serif;
  /* Other CSS styles for the body element */
}
.sub-bar {
  background-color:   #4D0000; /* Background color */
  padding: 10px; /* Padding for content */
  text-align: center; /* Center the content */
}
.sub-bar p {
  color: #FFFFFF; /* Change text color to black */
  font-size: 1.3rem;
}


/* MaternalDemographicsCard.css */

/* Container for the card */
.maternal-demographics-card {
  background-color: #ffffff; /* Background color */
  border: 2px solid #4d0000; /* Border color */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding for content */
  margin: 20px; /* Margin around the card */
  text-align: center; /* Center text */
}

/* Title style */
.maternal-demographics-card h2 {
  color: #4d0000; /* Title text color */
  font-size: 1.5rem; /* Title font size */
  margin-bottom: 10px; /* Spacing below title */
}

/* Question style */
.question-container p {
  font-weight: bold; /* Bold text for questions */
  font-size: 1.2rem; /* Question font size */
  margin-bottom: 10px; /* Spacing below questions */
}

/* Input field style */
.question-container input {
  width: 100%; /* Full width */
  padding: 10px; /* Padding for input fields */
  margin-bottom: 20px; /* Spacing between input fields */
  border: 1px solid #4d0000; /* Border color for input fields */
  border-radius: 5px; /* Rounded corners for input fields */
}

/* Next button style */
.question-container button {
  background-color: #4d0000; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Button padding */
  cursor: pointer; /* Cursor style on hover */
  font-size: 1rem; /* Button font size */
}

/* Next button hover effect */
.question-container button:hover {
  background-color: #761414; /* Change button color on hover */
}
/* Add this CSS to your App.css file */

.button-container {
  display: flex;
  flex-direction: column; /* Arrange rows vertically */
  align-items: center; /* Center align rows horizontally */
  gap: 20px; /* Adjust the gap between rows as needed */
}

.button-row {
  display: flex;
  justify-content: center; /* Center align buttons horizontally within the row */
}

.circular-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center; /* Center align button content vertically and horizontally */
  width: 140px;
  height: 140px;
  background-color: #4d0000;
  color: white;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
  margin: 5px; /* Adjust the margin between buttons as needed */
}

.circular-button:hover {
  background-color: #830707; /* Change the background color on hover */
}

